<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(faq) -%>">
  <span class='title'>
    <%= faq.title %>

  </span>
  <span class='actions'>
    <%= action_icon(:preview, refinery.faq_faq_path(faq), t('.view_live_html')) %>
    <%= action_icon(:edit,    refinery.edit_faq_admin_faq_path(faq), t('.edit') ) %>
    <%= action_icon(:delete,  refinery.faq_admin_faq_path(faq), t('.delete'),
      { class: "cancel confirm-delete",
        data: {confirm: t('message',  scope: 'refinery.admin.delete', title: faq.title)}}  ) %>
  </span>
  
</li>

